<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<link rel="stylesheet" href="./static/dashstyle.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../static/dash.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.0.279/pdf.min.js" integrity="sha512-QJy1NRNGKQoHmgJ7v+45V2uDbf2me+xFoN9XewaSKkGwlqEHyqLVaLtVm93FzxVCKnYEZLFTI4s6v0oD0FbAlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script> 

	<title>Dashboard</title>
</head>
<body>
	
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">RSSIA </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i>Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-address-book"></i>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/visuals"><i class="fa-solid fa-chart-line"></i>Visualizations</a>
            </li>
<!--             <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Report</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fa-solid fa-power-off"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>
<br><br><br>
<div class="d-flex flex-row">
	<div class="pl-5" id="form_input">
	<form method="POST">
		<p>X - Value</p>
			<select class="form-control" name='X-Value'>
				<option style="color:green">{{x_name}}</option>
				<option value="date">date</option>
				<option value="sales">sales</option>
				<option value="stock">stock</option>
				<option value="price">price</option>	
			</select>
		<br>
		<p>Y - Value</p>
			<select class="form-control" name='Y-Value'>
				<option style="color:green">{{y_name}}</option>
				<option value="date">date</option>
				<option value="sales">sales</option>
				<option value="stock">stock</option>
				<option value="price">price</option>	
			</select>
		<br><br>
		<!-- <input type="submit" id="getGraph" value="Get Graph"> -->
		<button type="submit" id="getGraph" value="Get Graph" style="font-family: 'Maiandra GD';font-size: 15px;">Get Graph</button>
	</form>	
	</div>

	&nbsp;
	&nbsp;
	&nbsp;


	<div id='canvass' style='border: 1px solid red;padding: 30px;'>
		<canvas id="commonChart" width="900" height="400"></canvas>
	</div>

	&nbsp;
	&nbsp;
	&nbsp;

	
	<div class ="overflow-auto px-auto" style='border: 1px solid red;padding: 30px;'>
	<h2>Insights</h2>
	<br>
	<h4 style="color:green">Most Sales <i class="fa-solid fa-money-bill-trend-up"></i></h4>
	<p>{{most_sales}} with {{most_sales_count}} units</p>
	<br>
	<h4 style="color:red">Least Sales <i class="fa-solid fa-arrow-trend-down"></i></h4>
	<p>{{least_sales}} with 0 units</p>
	<br>
	<h4 style="color:green">Most stock <i class="fa-solid fa-money-bill-trend-up"></i></h4>
	<p>{{most_stock}} with {{most_stock_count}} units</p>
	<br>
	<h4 style="color:gold;">Avergae Stock Price <i class="fa-solid fa-tag"></i></h4>
	<p>{{avg_price}} per stock</p>
	<br>	
	</div>
</div>
<br>
<center><button class="button" style="width:200px;font-family: 'Maiandra GD';font-size: 15px;" onclick="downloadPDF()">GeneratePDF</button></center>
<br>

<script>
	const data = {
	    labels: {{ x_data | safe }},
	    datasets: [{
	      label: {{ labelX | tojson }},
	      backgroundColor: 'rgb(255, 99, 132)',
	      borderColor: 'rgb(255, 99, 132)',
	      lineTension:0.1,
	      data: {{ y_data | safe }},
	    }]
  	};

  	const config = {
	    type: 'line',
	    data: data,
	    options: {
	    	responsive:false
	    }
  	};



  const commonChart = new Chart(document.getElementById('commonChart'),config);

  function downloadPDF(){


  	  const date = new Date();

  	  let day = date.getDate();
	  let month = date.getMonth() + 1;
	  let year = date.getFullYear();
	  let hour = date.getHours();
	  let min = date.getMinutes();
	  let sec = date.getSeconds();

	// This arrangement can be altered based on how we want the date's format to appear.
	  let currentDate = `${day}-${month}-${year}_${hour}-${min}-${sec}`;
	  console.log(currentDate);
  

      const canvas = document.getElementById('commonChart');
      const canvasImage = canvas.toDataURL('image/png',1.0);
      console.log(canvasImage);
      let pdf = new jsPDF('landscape');
      pdf.rect(8,8,280,180);
      pdf.setFont('Arial');
      pdf.setFontType('bold');
      pdf.setFontSize(20);
      pdf.text(20,20,"General Report :");
      pdf.addImage(canvasImage,'PNG', 15,30,265,90);
	  pdf.text(20,140," Insights:");
	  pdf.setFontType('normal');
      pdf.setFont('Arial');
	  pdf.setFontSize(15);
	  pdf.text(75,150, "Most Sales has been recorded on "+{{most_sales | tojson}}+" with "+{{most_sales_count | tojson}}+" units.");
	  pdf.setTextColor(0, 255, 0);


	  pdf.setTextColor(0, 0, 0);
	  pdf.text(75,160, "Inventory was at peak stock on "+{{most_stock | tojson}}+" with "+{{most_stock_count | tojson}}+" units.");
	  pdf.text(75,170, "Average Price of a stock is "+{{avg_price}});
	  pdf.setFontSize(9);
	  pdf.text(20,200,"Report generated at "+currentDate);

      pdf.save('General_report_'+currentDate+'.pdf'); 
    }

    
</script>

<!-- 	<h1>Hello Hello</h1> -->
</body>


</html>